@use "./_variables" as *
@use "./_icons" as *
@use "./_mixins" as *
@use "./_base" as *

// PC SMALL
@media (min-width:768px) and (max-width:1024px)
    header
        p
            text-wrap : nowrap
    .basCarte
        h3
            font-size: 18px
    #servicesCartes
        justify-content: center !important
        flex-wrap: wrap
        gap: 25px
    #featuresCartes
        flex-direction: row !important
        #featuresCartesTop
            flex-direction: column
            gap: 25px
        #featuresCartesBot
            flex-direction: column
            gap: 25px
        .carte
            width: 100%

    #footerRight
        >div:first-of-type
            flex-direction: column
        >div:last-of-type
            form
                left: 0% !important
                width: 100% !important
                position: static !important
                input
                    width: 100% !important
            h2
                left: 0% !important
                width: 100% !important
                position: static !important
    #about
        flex-direction: column
        @include centerAll()
        position: relative
        img
            width: 250px
            position: absolute
            right: 0px
            opacity: 0.75
        div
            width: 100%
            background-color: rgba(255, 255, 255, 0.5)
            z-index: 1
            p
                text-wrap: nowrap
    #carousel
        width: 100% !important
        br
            display: none
        p
            margin-left: 10px
            margin-right: 10px
            text-wrap: wrap !important

// TABLETTE
@media (min-width:425px) and (max-width:768px)
    nav
        ul
            display: none
    header
        section
            flex-direction: column-reverse
            img
                position: absolute
                top: 150px
                width: 70% !important
            div
                display: flex
                flex-direction: column
                align-items: center
                width: 100%
                br
                    display: none
                h1
                    margin-top: 125px
                    text-align: center
                p
                    text-align: center
                    display: inline !important
                    br
                    display: none
    #about
        flex-direction: column
        @include centerAll()
        position: relative
        width: 100%
        img
            width: 250px
            position: absolute
            right: 0px
            opacity: 0.75
        div:nth-of-type(2)
            width: 100%
            background-color: rgba(255, 255, 255, 0.5)
            z-index: 1
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin-top: 100px
            p
                text-wrap: wrap
                text-align: center
                font-size: 16px
                br
                    display: none
    .titreSection
        text-align: center !important
        position: relative !important
        width: 100% !important
        h2
            position: relative !important
            text-wrap: wrap
        h2::after
            left: 50%
            margin-top: 60px
            width: 10px
    #testimonial
        width: 100%
    #carousel
        height: 370px !important
        width: 80% !important
    #carouselBox
        height: 600px
    .carouselObjet
        p
            text-wrap: wrap !important
            br
                display: none
    #footerTop
        flex-direction: column
        #footerLeft
            width: 90% !important
            text-align: center
            form
                align-items: center

@media (max-width:425px)
